@inherits LayoutComponentBase


@if (DinaupClient.IsConnected == false)
{

	<div>
		Estamos realizando tareas de mantenimiento, pronto volvera a estar disponible.
	</div>

}
else
{

	<LoginView>

		<Authorized>


			<PageTitle>ReadyToBlazor</PageTitle>
			<RadzenLayout>
				<RadzenHeader>
					<RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0">
						<RadzenSidebarToggle Click="@(() => sidebar1Expanded = !sidebar1Expanded)" />
						<RadzenLabel Text="Header" />
					</RadzenStack>
				</RadzenHeader>
				<RadzenSidebar @bind-Expanded="@sidebar1Expanded">
					<RadzenPanelMenu>
						<RadzenPanelMenuItem Text="Home" Icon="home" />
						<RadzenPanelMenuItem Text="Users" Icon="account_box" />
					</RadzenPanelMenu>
					<div class="rz-p-4">
						Sidebar
					</div>
				</RadzenSidebar>
				<RadzenBody>
					<div class="rz-p-4">
						@Body
					</div>
				</RadzenBody>
				<RadzenFooter>
					Footer
				</RadzenFooter>
			</RadzenLayout>

			@code {
		bool sidebar1Expanded = true;
		}

	</Authorized>
	<NotAuthorized>
		<PageTitle>ReadyToBlazor</PageTitle>
		<RadzenLayout>
			<RadzenHeader>
				<div class="h-100 d-flex align-items-center align-content-center" style="padding-left:20px">
					<b>DemoUp</b>.   Aplicación de Ejemplo.
				</div>
			</RadzenHeader>
			<RadzenBody class="d-flex justify-content-center align-content-cente align-items-center">
				<ReadyToBlazor.Pages.Sesion.LoginForm />
			</RadzenBody>
			<RadzenFooter>
				Hola mundo.
			</RadzenFooter>
		</RadzenLayout>
	</NotAuthorized>
</LoginView>

	<RadzenComponents />
}


